<div class="container">

    <div class="ui vertically divided grid" style="padding-top: 10%;">
        <div class="ui page grid  ">
        <div class="three column row">
            <div class="ui two wide column"></div>
            <div class="ui nine wide column">
                <div class="ui vertically divided grid">
                    <div class="one column row">
                        <div class="column" >
                            <p class="ui center header white">¿A donde Vamos?</p>
                        </div>
                    </div>
                    <div class="one column row">
                        <div class="ui nine wide column">
                            <div class="ui form  teal
                             inverted segment">
                                <div class="field">
                                    <label>Origen</label>
                                    <div class="ui fluid selection dropdown">
                                        <div class="text">Seleccione</div>
                                        <i class="dropdown icon"></i>
                                        <input type="hidden" name="gender">
                                        <div class="menu">
                                            <div class="item" data-value="male">Lima</div>
                                            <div class="item" data-value="female">Trujillo</div>
                                            <div class="item" data-value="male">Tumbes</div>
                                            <div class="item" data-value="female">Cuzco</div>
                                            <div class="item" data-value="male">Piura</div>
                                            <div class="item" data-value="female">Ica</div>
                                            <div class="item" data-value="male">Ayacucho</div>
                                            <div class="item" data-value="female">Puno</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <label>Destino</label>
                                    <div class="ui fluid selection dropdown" id="origen">
                                        <div class="text">Seleccione</div>
                                        <i class="dropdown icon"></i>
                                        <input type="hidden" name="gender">
                                        <div class="menu">
                                            <div class="item" data-value="male">Lima</div>
                                            <div class="item" data-value="female">Trujillo</div>
                                            <div class="item" data-value="male">Tumbes</div>
                                            <div class="item" data-value="female">Cuzco</div>
                                            <div class="item" data-value="male">Piura</div>
                                            <div class="item" data-value="female">Ica</div>
                                            <div class="item" data-value="male">Ayacucho</div>
                                            <div class="item" data-value="female">Puno</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <label>Fecha</label>

                                    <div class="ui icon input">
                                        <input type="text" placeholder="11/11/2014" id="datetimepicker1">
                                        <i class="calendar icon"></i>
                                    </div>
                                </div>
                                <div class="field">
                                    <a class="ui black small button" href="#/rutas">Buscar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui two wide column"></div>
        </div>

        </div>

    </div>
</div>