<div class="container">

    <h3 class="ui header">Historia</h3>
    <div class="ui section divider"></div>
    En el año 1981, fecha en que la familia Ibárcena adquiere la empresa, solo se contaba con 15 vehículos y se servían únicamente las rutas Arequipa - Moquegua - Ilo; Arequipa - Moquegua - Tacna y Arequipa - Valle Tambo.

    <h2>Transportes Cial SAC</h2>
    <p>Se constituye el 02 de julio de 1960, ante el Notario Público Dr. Eduardo Benavides Benavente, estando inscrito en la ficha 118749 del Registro Mercantil de Lima,
        como una de las principales empresas del grupo Ibárcena desarrollando sus actividades en el transporte interprovincial de pasajeros por vía terrestre.</p>

    <p> Hace 54 años, inicia sus operaciones desde la ciudad de Arequipa, trasladándose posteriormente a la capital de la Republica para brindar, eficientemente,
        servicios de cobertura nacional.</p>

    <h2>Expansión de la Empresa</h2>
    <p> A partir de 1992, dentro de su política de expansión, desarrolla sus servicios diferenciados que centran su atención en la
        plena satisfacción del cliente y el valor agregado, con el uso de la mas moderna tecnología.</p>

        <h2>Cial en al Actualidad</h2>
    <p>Actualmente es reconocida como la empresa líder en el mercado peruano, sustentando su éxito en la constante innovación, planeamiento,
        creatividad y la especial preocupación por cumplir y superar los más altos estándares de servicio al cliente a nivel internacional.</p>



</div>