<div class="container">
    <div class="ui vertically divided grid">
        <div class="two column row" style="padding-top: 30px;">
            <div class="eleven wide column">
                <h3 class="ui header purple">
                    <i class="user icon"></i>
                    Registro(s) de Pasajero(s)
                </h3>
                <div class="ui buttons">
                    <div class="ui instagram button">1</div>
                    <div class="ui instagram button"><i class="map marker icon"></i>Lima-Trujillo</div>
                    <div class="ui instagram button"><i class="male icon"></i>Asiento 34</div>
                    <div class="ui instagram button"><i class="calendar icon"></i>8/11/2014 4:40pm</div>
                    <div class="ui instagram button"><i class="money icon"></i>S/.120.00</div>
                </div>
                <table class="ui celled table segment">
                    <thead>
                    <tr><th>Tipo Documento</th>
                        <th>Numero Documento</th>
                        <th>Nombre del Pasajero</th>
                    </tr></thead>
                    <tbody>
                    <tr>
                        <td><div class="ui selection dropdown">
                            <input type="hidden" name="gender">
                            <div class="default text">Seleccione</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <div class="item" data-value="1">DNI</div>
                                <div class="item" data-value="0">PASAPORTE</div>
                            </div>
                        </div></td>
                        <td><div class="ui input">
                            <input type="text" placeholder="1234567">
                        </div></td>
                        <td><div class="ui left icon input">
                            <input type="text" placeholder="nombre y apellidos">
                            <i class="user icon"></i>
                        </div></td>
                    </tr>
                    </tbody>
                    <tfoot>
                </table>
                <div class="ui buttons">
                    <div class="ui instagram button">2</div>
                    <div class="ui instagram button"><i class="map marker icon"></i>Lima-Trujillo</div>
                    <div class="ui instagram button"><i class="male icon"></i>Asiento 47</div>
                    <div class="ui instagram button"><i class="calendar icon"></i>8/11/2014 4:40pm</div>
                    <div class="ui instagram button"><i class="money icon"></i>S/.120.00</div>
                </div>
                <table class="ui celled table segment">
                    <thead>
                    <tr><th>Tipo Documento</th>
                        <th>Numero Documento</th>
                        <th>Nombre del Pasajero</th>
                    </tr></thead>
                    <tbody>
                    <tr>
                        <td><div class="ui selection dropdown">
                            <input type="hidden" name="gender">
                            <div class="default text">Seleccione</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <div class="item" data-value="1">DNI</div>
                                <div class="item" data-value="0">PASAPORTE</div>
                            </div>
                        </div></td>
                        <td><div class="ui input">
                            <input type="text" placeholder="1234567">
                        </div></td>
                        <td><div class="ui left icon input">
                            <input type="text" placeholder="nombre y apellidos">
                            <i class="user icon"></i>
                        </div></td>
                    </tr>
                    </tbody>
                    <tfoot>
                </table>
            </div>
            <div class="column">
                <div class="ui piled secondary inverted teal segment">
                    <h1>Metodo de Pago</h1>
                    <div class="ui divider"></div>
                    <div class="ui form">
                        <div class="grouped inline fields">
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="fruit" checked="checked">
                                    <label><img class="ui image small" src="/assets/img/visa.png"></label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="fruit">
                                    <label><img class="ui image small" src="/assets/img/master.gif"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h2>Datos del Comprador</h2>
                    <div class="ui warning form segment">
                        <div class="field">
                            <label>Nombre Completo:</label>
                            <input placeholder="nombre(s) y apellido(s)" type="text">
                        </div>
                        <div class="field">
                            <label>Telefono:</label>
                            <input placeholder="1234567890" type="text">
                        </div>
                        <div class="field">
                            <label>Correo:</label>
                            <input placeholder="usuario@usuario.com" type="text">
                        </div>
                        <div class="field">
                            <label>N° Tarjeta:</label>
                            <input placeholder="1234567890" type="text">
                        </div>
                        <div class="inline field">
                            <div class="ui checkbox">
                                <input type="checkbox">
                                <label>Acepta las condiciones de compra</label>
                            </div>
                        </div>
                        <div class="ui green submit small button" ng-click="aceptarPago()">Aceptar</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui small modal">
        <div class="content">
            <h1>La compra se ha realizado satisfactoriamente</h1>
            <p>Por favor acerquese a nuestras agencias con documento de identida para recoger sus pasajes.</p>
        </div>
        <div class="actions">
            <a class="ui green button" href="#/hello"> <i class="ok circle icon"></i>OK</a>
        </div>
    </div>
</div>