<div class="container">
    <div class="ui grid">
        <div class="row" style="padding-top: 3%;">
            <div class="ui three wide column">
            </div>
            <div class="ui ten wide column">
                <div class="ui grid">
                    <div class="row">
                        <div class="ui purple wide column">
                            <h2 class="ui header purple"><i class="purple user icon"></i> Registro de Usuario</h2>
                        </div>
                    </div>
                </div>
                <br/>
                <br/>

                <div class="ui form">
                    <div class="field">
                        <label>Nombres</label>
                        <input type="text" placeholder="carlos fernando" ng-model="usuario.nombres"/>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>Apellido Paterno</label>
                            <input type="text" ng-model="usuario.ap_paterno"/>
                        </div>
                        <div class="field">
                            <label>Apellido Materno</label>
                            <input type="text" ng-model="usuario.ap_materno"/>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>DNI</label>
                            <input type="text" ng-model="usuario.dni"/>
                        </div>
                        <div class="field">
                            <label>Sexo</label>

                            <div class="ui fluid selection dropdown">
                                <div class="text">Seleccione</div>
                                <i class="dropdown icon"></i>
                                <input type="hidden" name="gender" ng-model="usuario.sexo">

                                <div class="menu">
                                    <div class="item" data-value="M">Masculino</div>
                                    <div class="item" data-value="F">Femenino</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>Edad</label>
                            <input type="number" ng-model="usuario.edad"/>
                        </div>
                        <div class="field">
                            <label>Celular</label>
                            <input type="text" ng-model="usuario.celular"/>
                        </div>
                    </div>
                    <div class="field">
                        <label>Correo Electronico</label>
                        <input type="text" ng-model="usuario.correo"/>
                    </div>
                    <div class="field">
                        <label>Confirmar Correo Electronico</label>
                        <input type="text"/>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>Elija una contraseña para su cuenta</label>
                            <input type="password" ng-model="usuario.contrasenia"/>
                        </div>
                        <div class="field">
                            <label>Confirmar Contraseña</label>
                            <input type="password"/>
                        </div>
                    </div>
                    <div class="field">
                        <label>Como se entero de CIAL?</label>
                    </div>
                    <div class="four fields">
                        <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" name="terms">
                                <label>Periodico</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" name="terms">
                                <label>TV</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" name="terms">
                                <label>Radio</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" name="terms">
                                <label>Otros</label>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="two fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="fruit">
                                <label>Deseo recibir promociones a mi correo</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="fruit">
                                <label>No deseo recibir promociones a mi correo</label>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="two fields">
                        <div class="field" style="text-align: right">
                            <button class="ui green small button" ng-click="registrarse(usuario);">Registrar</button>
                        </div>
                        <div class="field" style="text-align: left">
                            <button class="ui small button" type="reset">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui three wide column">
            </div>
        </div>
    </div>
</div>