<div class="container">
    <div class="ui vertically divided grid">
        <div class="two column row">
            <div class="three wide column">
                <div class="ui tertiary purple inverted center aligned segment">
                    <h2>Esquema del Bus</h2>
                    <div class="two column doubling ui grid">
                        <div class="column">
                            <div class="ui tertiary purple inverted center aligned segment">
                                <div class="ui tiny buttons">
                                    <div class="ui vertical buttons">
                                        <div id="{{b1.cod_aciento}}" ng-repeat="b1 in bs1" class="ui {{b1.pintar}} button" data="{{b1.cod_aciento}}" ng-click="almacenar(b1.cod_aciento,b1.num_aciento)">{{b1.num_aciento}}</div>
                                    </div>
                                    <div class="ui vertical buttons">
                                        <div id="{{b2.cod_aciento}}" ng-repeat="b2 in bs2" class="ui {{b2.pintar}} button" data="{{b2.cod_aciento}}" ng-click="almacenar(b2.cod_aciento,b2.num_aciento)">{{b2.num_aciento}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui tertiary purple inverted center aligned segment">
                                <div class="ui tiny buttons">
                                    <div class="ui vertical buttons">
                                        <div id="{{b3.cod_aciento}}" ng-repeat="b3 in bs3" class="ui {{b3.pintar}} button" data="{{b3.cod_aciento}}" ng-click="almacenar(b3.cod_aciento,b3.num_aciento)">{{b3.num_aciento}}</div>
                                    </div>
                                    <div class="ui vertical buttons">
                                        <div id="{{b4.cod_aciento}}" ng-repeat="b4 in bs4" class="ui {{b4.pintar}} button" data="{{b4.cod_aciento}}" ng-click="almacenar(b4.cod_aciento,b4.num_aciento)">{{b4.num_aciento}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="six wide column">
                <div class="ui vertically divided grid">
                    <div class="one column row">
                        <div class="column">
                            <div class="ui segment">
                                <h4 class="ui header purple"><label>Leyenda de Asientos</label></h4>
                                <div class="ui divider"></div>
                                <div class="mini ui buttons">
                                    <div class="ui button">Libre</div>
                                    <div class="ui black button">Ocupado</div>
                                    <div class="ui yellow button">Reservado</div>
                                    <div class="ui green button">En Carrito</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="one column row">
                        <div class="column">
                            <div class="ui vertically divided grid">
                                <div class="two column row">
                                    <div class="column"></div>
                                    <div class="column">
                                        <h3 class="ui header"><i class="hand up icon"></i>Asientos Seleccinados</h3>
                                    </div>
                                </div>
                                <div class="one column row">

                                    <table class="ui six column table segment">
                                        <thead>
                                        <tr><th>N° Asiento</th>
                                            <th>Precio S/.</th>
                                            <th>Eliminar Asiento</th>
                                        </tr></thead>
                                        <tbody id="seleccion">
                                        <!--<tr>
                                            <td><div class="ui green button">34</div></td>
                                            <td>120.00</td>
                                            <td><div class="3 fluid red ui vertical animated tiny button" ng-click="EliminarAciento()">
                                                <div class="hidden content">Eliminar</div>
                                                <div class="visible content">
                                                    <i class="trash icon"></i>
                                                </div>
                                            </div></td>
                                        </tr>
                                        <tr>
                                            <td><div class="ui green button">49</div></td>
                                            <td>120.00</td>
                                            <td><div class="3 fluid red ui vertical animated tiny button" ng-click="EliminarAciento()">
                                                <div class="hidden content">Eliminar</div>
                                                <div class="visible content">
                                                    <i class="trash icon"></i>
                                                </div>
                                            </div></td>
                                        </tr>-->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row one column" style="text-align: center">
                        <div class="ui buttons">
                            <a class="ui green small button" href="#/regAciento" ng-click="guardar_asientos();">
                                <i class="icon edit"></i>
                                Registrar Asiento(s)
                            </a>
                            <a class="ui button small red" href="#/hello">
                                <i class="icon remove sign"></i>
                                Cancelar Operacion
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui small modal">
    <div class="content">
        Desea Eliminar Asiento del Carrito de Compra?
    </div>
    <div class="actions">
        <div class="ui red button"> Si</div>
        <div class="ui green button"> No</div>
    </div>
</div>